.wrapper {
  height: 200vh;
  position: relative;
  background: #e7eaf0;
}

.section {
  position: sticky;
  top: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(56px, 8vw, 84px) var(--edge-padding);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: clamp(28px, 4.8vw, 72px);
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1.4;
  text-align: center;
}

.heading span {
  display: block;
  transition: opacity 0.1s linear, transform 0.1s linear;
}
